=snippet :'/snippets/top'
.span-24
  .span-3
    %img.span-3{:src => "#{@user.photo_url}"}
    =snippet :'/snippets/links'    
  .span-15
    
    %h3 #{@event.name}
    .span-14
      .span-3 Date
      .span-10 #{@event.date.strftime "%d %b %Y"}
    .span-14
      .span-3 Time
      .span-10 #{@event.time.strftime "%I:%M %p"}
    .span-14
      .span-3 Venue
      .span-10 #{@event.venue}
    
    %hr.space
          
    %h3 Description
    =@event.description
      
    %h3 Confirmed attendees
    - @event.confirmed_users.each do |user|
      .span-2
        %a{:href => "/user/#{user.nickname}"}
          %img.span-1{:src => "#{user.photo_url}", :alt => "#{user.formatted_name}"} 
    
    %hr.space
    

    
    %hr.space

    %h3 Pages
    .span-3.push-12.right
      - if @event.user == @user
        %a.button{:href =>"/event/#{@event.id}/page/add"} new page
    - @event.pages.each do |page|
      .span-12
        %a{:href => "/event/page/#{page.id}" } #{page.title}
        .quiet Date created : #{page.created_at.strftime "%I:%M %p, %d %b %Y"}
      .span-3.right.last
        %form{:id => "form_page_#{page.id}", :method => 'post', :action => "/event/page/#{page.id}"} 
          %input{:type => 'hidden', :name => '_method', :value => 'delete'}
          - if @event.user == @user
            %a.button{:href => '#', :onclick => '$("#form_page_' + "#{page.id}" + '").submit();'} del
            %a.button{:href => "/event/page/edit/#{page.id}"} edit
      %hr.space
      %hr          
    %hr.space
    
    %h3 Wall
    =snippet :'/snippets/event_wall_box'
      
    %hr.space
    
    -@event.wall.posts.each do |post|
      .span-2
        %img.span-2{:src => "#{post.user.photo_url}"}
      .span-4
        #{post.user.formatted_name}
        %br
        #{post.created_at.strftime "%d %b %Y"}
        %br
        #{post.created_at.strftime "%I:%M %P"}
      .span-8
        #{post.text}
      %hr
    %hr.space  

  .span-6.last
    %h3 Your RSVP
    =snippet :'/snippets/rsvp'
    
    %h3 Awaiting reply
    - @event.pending_users.each do |user|
      .span-2
        %a{:href => "/user/#{user.nickname}"}
          %img.span-1{:src => "#{user.photo_url}", :alt => "#{user.formatted_name}"}    
    