=snippet :'/snippets/top'
.span-24
  .span-2
    %img.span-2{:src => "#{@user.photo_url}"}
  .span-9
    %h2{:style => 'margin-bottom: 0;'} People you follow
    %h3 View photos shared by people you follow!
  .span-7.prepend-5
    %form{:method => 'get'}
      %input{:type => 'text', :name => 'query'}
      %input{:type => 'submit', :value => 'search people'}

- if @search_results
  %hr.space 
  .span-24
    %h3 People who match your search criteria
    - @search_results.each do |res|
      .span-3.picbox
        %a{:href => "/albums/#{res.id}"}
          %img.span-2{:src => "#{res.photo_url}"}
          %h4{:style => 'margin-bottom:5px;'} #{res.nickname}
        - unless res == @user or @user.follows.include? res
          %form{:id => "form_create_#{res.id}", :method => 'post', :action => "/follow/#{res.id}"} 
            %input{:type => 'hidden', :name => '_method', :value => 'put'}
            %a{:href => '#', :onclick => '$("#form_create_' + "#{res.id}" + '").submit();'} [follow]
        %hr.space

%hr.space      
.span-24
  %h3 People I follow
  - if @follows.empty?
    %h4 You are not following anyone right now. Search for someone and follow them to view their photos!
  - else
    .span-24 
      -@follows.each do |follow|
        .span-3.picbox
          %a{:href => "/albums/#{follow.id}"}
            %img.span-2{:src => "#{follow.photo_url}"}
            %h4{:style => 'margin-bottom:5px;'} #{follow.nickname}
          %form{:id => "form_delete_#{follow.id}", :method => 'post', :action => "/follow/#{follow.id}"} 
            %input{:type => 'hidden', :name => '_method', :value => 'delete'}
            %a{:href => '#', :onclick => '$("#form_delete_' + "#{follow.id}" + '").submit();'} [unfollow]
          %hr.space

%hr.space      
.span-24
  %h3 People following you
  - if @followers.empty?
    %h4 No one is following you at the moment. Tell them about it!
  - else
    .span-24 
      -@followers.each do |follower|
        .span-3
          %a{:href => "/albums/#{follower.id}"}
            %img.span-2{:src => "#{follower.photo_url}"}
            %h4{:style => 'margin-bottom:5px;'} #{follower.nickname}      
            - unless @user.follows.include? follower
              %form{:id => "form_follower_create_#{follower.id}", :method => 'post', :action => "/follow/#{follower.id}"} 
                %input{:type => 'hidden', :name => '_method', :value => 'put'}
                %a{:href => '#', :onclick => '$("#form_follower_create_' + "#{follower.id}" + '").submit();'} [follow]            
          %hr.space
